*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}
main{
    width: 1280;
    min-width: 600px;
    margin: auto;
    background: #fff;
}
.puff{display: flex;
    flex-flow: row wrap;
    gap: 15px;

}
/*.puff--inner{
    display: flex;
    flex-direction: row wrap;
*/
.puff--item{
    flex: 1 0 200px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    /*min-width: 280px;*/
    max-width: 200px;
    height: 150px;
    max-height: 150px;
    background: #fff;
    border: 1px solid #ccc;
    & img{
        object-fit:contain ;
        width: 100%;
        max-height: 110px;
    }
    & :hover{
        box-shadow: rgba(99,99,99,0.02) 0px 2px 8px 0px;
    }
   

}
.puff--item tv{
    background:URL('"https://www.netonnet.se/GetFile/SectionBoxIcon/(8885)_14_Normal_Large.webp" ') ;
}
.puff--item a{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-decoration: none;
}
/*.puff--item_img img{
     object-fit: contain;
     width: 100%;

}*/
.puff--imgHolder{
    flex: 1 0 120px;
    background:#fff;
    
}

.puff--item_text{
     text-align: center;
    padding: 0.4;
   color: rgb(27, 18, 18);
   font-weight:bold;
 }