*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
}

.huvud-container-inner {
    display: flex;
    width: 608px;
    height: 1170.97px;
    margin-top: 10px;
    background-color: #fff;
    flex-direction: column;
}
.printer {
    display: flex;
    width: 578px;
    height: 24px;
    padding: 10px;
    gap: 5px;
    padding-left:20px;
    
}
.printerA .fa-solid {
    color: #0797d6;
}
.printerB h4 {
    color: #0797d6;
    font-size: 13px;
    font-weight: 100;
    
}
.printerB a {
    text-decoration: none;
}
.printerB:hover {
    text-decoration: underline;
}

.hp-pav-paraA {
    display: flex;
    width: 598px;
    height: 98px;
}
.paraA-inner p {
    font-size: 15px;
    line-height: 1.5;
    padding: 20px;
    margin-top: 10px;
}

.bild {
    display: flex;
    width: 598px;
    height: 105.23px;
    margin-top: 60px;
}
.backsidebild img {
    width: 578px;
    height: 85px;

}

.hp-pav-paraB {
    display: flex;
    width: 598px;
    height: 147.89px;
    flex-direction: column;
    padding: 20px;
    padding-right: 5px;

   
}

.paraB-inner p {
    font-size: 15px;
    line-height: 1.5;
    padding-left: 20px;
    margin-top: 10px;
    

}

.paraB-heading h4 {
    font-size: 15px;
    line-height: 1.5;
    padding-left: 20px;
    
}

.amd-ryzen {
    display: flex;
    width: 598px;
    height: 147.89px;
    margin-top: 60px;
    padding-left: 10px;

}
.img-ryzen{
    display: flex;
    width: 149.5px;
    height: 135.28px;
}
.img-ryzen img {
    width: 130px;
    height: 115px;
}

.amd-text {
    display: flex;
    width: 448.5px;
    height: 147.89px;
    flex-direction: column;
    padding-right: 5px;
}

.amd-heading h4 {
    font-size: 15px;
    font-weight: 200px;
}

.amd-textt p {
    font-size: 15px;
    line-height: 1.5;
    margin-top: 10px;
}

.ssd {
    display: flex;
    width: 598px;
    height: 128.39px;
    padding-left: 10px;
    margin-top: 10px;
}
.ssd-img {
    display: flex;
    width: 149.5px;
    height: 114.45px;
}
.ssd-img img {
    width: 130px;
    height: 94px;
}
.ssd-text {
    display: flex;
    width: 448.5px;
    height: 128.39px;
    flex-direction: column;
    gap: 10px;
    padding-right: 10px;
}

.ssd-heading h4 {
    font-size: 15px;
    font-weight: 200px;
}

.ssd-textt p {
    font-size: 15px;
    line-height: 1.5;
}

.sim {
    display: flex;
    width: 598px;
    height: 128.39px;
    padding-left: 10px;
    margin-top: 25px;
}

.sim-img {
    display: flex;
    width: 149.5px;
    height: 81.31px;
}
.sim-img img {
    width:130px;
    height: 61px;
}

.sim-text {
    display: flex;
    width: 448.5px;
    height: 128.39px;
    flex-direction: column;
    gap: 10px;
    padding-right: 10px;
}

.sim-heading h4 {
    font-size: 15px;
    font-weight: 200px;
}

.sim-textt p {
    font-size: 15px;
    line-height: 1.5;
}

.antire {
    display: flex;
    width: 598px;
    height: 108.89px;
    flex-direction: column;
    padding: 10px;
    gap: 7px;
}
.antire h4 {
    font-size: 15px;
    font-weight: 200px;
}
.antire p {
    font-size: 15px;
    line-height: 1.5;
}

